@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --- Reset Default Style --- */
html, body, div, h1, h2, h3, h4, h5, p, ul, li {
  display: block;
  margin: 0;
  padding: 0;
}
/* --------------------------- */

/* ------ Global Styles ------ */
:root {
  --main-clr: #14453D;
  --page-clr: #FFFFFF;
  --bg-clr: #F2F2F2;
  --accent-clr: #D9D9D9;
  --text-clr: #1E1E1E;

  --rounded-radius: 1em;

  --cursor-x: 0;
  --cursor-y: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-clr);
}

h1 {
  font-size: 4rem;
  font-weight: 500; 
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.4em;
  text-align: center;
  color: white;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}

p {
  font-size: 1em;
  font-weight: 300;
  color: var(--accent-clr);
}

.sponsors-title {
  color: var(--text-clr); 
}

.schedule-title {
  color: var(--text-clr); 
}

.schedule-description{
  color: var(--text-clr);
}


.IMAGE-GOES-HERE {
  background-color: var(--bg-clr);
}

.small {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  
}

.button {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
/* --------------------------- */


.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.main > * {
  padding-bottom: 2em;
}


/* begin navbar styles */
.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  background: radial-gradient(circle at var(--cursor-x) var(--cursor-y), var(--accent-clr), var(--page-clr), var(--page-clr), var(--page-clr)); 
  width: 100%;
  height: 5em;
  background-color: var(--page-clr); 
  
  z-index: 100;
}

.nav-wrapper:hover {
  cursor: default;
}

.nav-wrapper > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  padding-left: 4em;
}
.logo-image {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.logo-text {
  margin-left: 0.5em;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5em 0.75em;
  display: inline-block;
  border-radius: var(--rounded-radius);
  background-color: transparent;
  letter-spacing: 0;
  font-weight: 100;

  transition: background-color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
}

.nav a:hover {
  color: var(--text-clr);
  background-color: var(--accent-clr);
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 600;

  transition: background-color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
}

.nav a#discord-widget > svg {
  fill: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.nav a#discord-widget:hover > svg {
  fill: rgba(88, 101, 242, 1);
  transition: background-color 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.nav-wrapper > .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;

  padding-right: 3em;
}
/* end navbar styles */


/* begin landing page styles */
.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 80%;
}

.landing-wrapper > .landing-title {
  /* TODO: add something idk make this one stand out with animations */
}

.landing-wrapper > .landing-image {
  width: 100%;
  height: 100%;

  min-height: 60vh;
}
/* end landing page styles */


/* begin about page styles */
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: auto;
  width: 80%;
  margin: 0 4em;
  
}
.about-wrapper > * {

}

.about-wrapper > .about-bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  padding: 1em;
  border-radius: var(--rounded-radius);
  background-color: #3D7068;
   /*background-image: linear-gradient(#42F6FF, #48BEFF, #368FC0); first draft*/
}
.about-wrapper > .register {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 1em;
  
}
.register-button {
  padding: 16px 32px;
  margin: auto 0;
  border-radius: var(--rounded-radius);
  background-color: #3D7068;
  /*background-image: linear-gradient(#42F6FF, #48BEFF); first draft*/

  text-decoration: none;
  /*color: var(--text-clr); */
  color: white;
}

/* end about page styles */


/* begin projects styles */
.projects-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 80%;
  margin: 0 4em;
  padding: 1em 0;
}
.projects-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--main-clr);
  
  z-index: -1;
}

.projects-wrapper > .projects-title {

}
.projects-wrapper > .projects-description {

}
.projects-wrapper > .projects-image-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 2em 0;
}
.projects-image {
  height: 16em;
  width: 18em;
  border-radius: var(--rounded-radius);
}
/* end projects styles */


/* begin prizes styles */
.prizes-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 80%;
  padding: 1em 0;
  scroll-margin-top: 7em;
}
.prizes-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: #022F2F;
  background-color: #103731;
 /* background-image: linear-gradient(#43C59E, #3D7068, #14453D); */
  z-index: -1;
}

.prizes-wrapper > .prizes-image-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;

  width: 100%;
  padding: 1em 0;
}

.prizes-image {
  height: 16em;
  width: 100%;
  
  border-radius: var(--rounded-radius);
}
/* end prizes styles */

/* begin sponsors styles */

.sponsors-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 80%;
  padding: 1em 0;
  scroll-margin-top: 7em;
}
.sponsors-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--bg-clr);
  
  z-index: -1;
}

.sponsors-wrapper > .sponsors-image-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

  width: 95%;
  padding: 1em 0;
}

.sponsors-image {
  height: 16em;
  width: 100%;
  
  background-color: var(--accent-clr);
  border-radius: var(--rounded-radius);
}
/* end sponsors styles */

/* begin schedule styles */
.schedule-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 80%;
  margin: 0 4em;
  scroll-margin-top: 7em;
  padding: 1em 0;
}
.schedule-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--bg-clr);

  z-index: -1;
}

.schedule-image {
  height: 40em;
  width: 80em;
  
  background-color: var(--accent-clr);
  border-radius: var(--rounded-radius);
}
/* end schedules styles */


/* begin team styles */
.team-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 80%;
  margin: 0 4em;
  scroll-margin-top: 7em;
  padding: 1em 0;
  background-image: linear-gradient(375deg, #14453D, #3D7068);
}


.team-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.team-title {
  text-align: center;
}

.team-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;

  width: 100%;
  height: 10em;
}

.team-row > li {
  width: 10em;
  height: 10em;
  background-color: var(--bg-clr);
  border-radius: 50%;
}
/* end team styles */


/* begin faq styles */
.faq-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 80%;
  margin: 4em;
  scroll-margin-top: 7em;
  padding: 1em 0;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  width: 100%;
}

.faq-grid-item {
  background-color: #3D7068;
  border-radius: var(--rounded-radius);
  padding: 1em;
}
/* end faq styles */

/* begin footer styles */ 

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--main-clr); 
  padding: 70px 0;

  width: 100%
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
  /*background-image: linear-gradient(to right, #14453D, #3D7068, #3D7068, #43C59E, #43C59E); */
  background-image: linear-gradient(to right, #3D7068, #43C59E); 
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}